.cd-link {
  color: #19c6cf;
  transition: all .3s ease;
  text-decoration: none;
}

.cd-link__icon {
  display: inline-block;
  margin-right: 6px;
}

.cd-link:hover, .cd-link:active, .cd-link:focus {
  color: #34dee7;
}

.cd-btn {
  border-radius: 3px;
  background-color: #19c6cf;
  padding: 11px 20px;
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  transition: all .3s ease;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  border-color: #19c6cf;
  max-height: 47px;
}

.cd-btn:hover, .cd-btn:active, .cd-btn:focus {
  background: #1edae4;
  border-color: #1edae4;
  text-decoration: none;
  outline: 0;
  color: #FFF;
}

.cd-btn--default {
  border-radius: 5px;
  border: solid 1px #19c6cf;
  color: #19c6cf;
  background: transparent;
}

.cd-btn--default:hover, .cd-btn--default:active, .cd-btn--default:focus {
  color: #FFF;
}

.cd-btn--circle {
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(25, 198, 207, 0.1);
  border: solid 1px #19c6cf;
  max-height: 100%;
}

.cd-btn--circle .cd-btn__icon {
  margin-right: 0;
  display: inline-block;
  font-size: 24px;
}

.cd-btn--circle:hover, .cd-btn--circle:active, .cd-btn--circle:focus {
  border-color: #1edae4;
}

.cd-btn--grey {
  color: #dfdfdf;
  border-color: #dfdfdf;
  background: transparent;
}

.cd-btn--grey:hover, .cd-btn--grey:active, .cd-btn--grey:focus {
  color: #dfdfdf;
  border-color: #dfdfdf;
  background: transparent;
}

.cd-btn--link {
  background: transparent;
  color: #19c6cf;
  border: 0;
  padding: 0;
  font-size: 14px;
}

.cd-btn--link:hover, .cd-btn--link:active, .cd-btn--link:focus {
  border: 0;
  color: #34dee7;
  background: transparent;
}

.cd-btn--fullwidth {
  display: block;
  width: 100%;
}

.cd-btn__icon {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.cd-btn__icon--only-child {
  font-size: 18px;
}

.cd-btn--delete, .cd-btn--edit {
  background: transparent;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0;
}

.cd-btn--delete:before {
  content: "\F1C0";
  color: #cccccc;
  font-size: 18px;
  font-family: "Material Design Icons";
}

.cd-btn--delete:hover:before {
  color: #dfdfdf;
}

.cd-btn--edit:before {
  content: "\F3EB";
  color: #19c6cf;
  font-size: 18px;
  font-family: "Material Design Icons";
}

.cd-btn--edit:hover:before {
  color: #34dee7;
}

.cd-btn--delete-square .cd-btn__icon {
  margin-right: 0;
  font-size: 18px;
}

.cd-btn--delete-square:hover {
  background: #EF5350;
  border-color: #EF5350;
}

.cd-btn--delete-square:hover .cd-btn__icon {
  color: #FFF;
}

.cd-btn--upload {
  font-size: 14px;
}

.cd-btn--upload input[type="file"] {
  display: none;
}

.cd-btn--upload .cd-btn__icon {
  font-size: 16px;
}

.cd-btn--small {
  border-radius: 3px;
  line-height: 35px;
  height: 35px;
  padding: 0 20px;
}

.sb-switch {
  position: relative;
  width: 34px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.sb-switch__wrapper {
  display: inline-block;
}

.sb-switch__input {
  display: none;
}

.sb-switch__input:checked + .sb-switch__slider {
  background-color: #19c6cf;
  border: 1px solid #19c6cf;
}

.sb-switch__input:focus + .sb-switch__slider {
  box-shadow: 0 0 1px #19c6cf;
}

.sb-switch__input:checked + .sb-switch__slider:before {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  background-color: #fff;
}

.sb-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  transition: .4s;
  border-radius: 75px;
  border: 1px solid #cccccc;
}

.sb-switch__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background: #cccccc;
  transition: .4s;
  border-radius: 50%;
}

.sb-switch__label {
  display: inline-block;
  margin-left: 10px;
  color: #98a4b3;
  line-height: 18px;
  font-size: 14px;
}

.sb-switch__label--black {
  color: #31373d;
}

.cd-radio {
  position: relative;
  padding: 11px 0;
  margin: 0;
}

.cd-radio + .cd-radio {
  margin-left: 29px;
}

.cd-radio__input {
  display: none;
}

.cd-radio__input:checked + .cd-radio__label:after {
  display: block;
}

.cd-radio__label {
  color: #262626;
  font-size: 14px;
  font-weight: normal;
}

.cd-radio__label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: solid 1px #9b9b9b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFF;
  margin-right: 12px;
}

.cd-radio__label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  -webkit-transform: translate3d(5px, -2px, 0);
          transform: translate3d(5px, -2px, 0);
  width: 6px;
  height: 6px;
  background: #19C6CF;
  display: none;
}

.cd-input {
  border-radius: 3px;
  border: solid 1px #eaedf0;
  height: 37px;
  line-height: 35px;
  color: #262626;
  background: #fff;
  font-size: 14px;
  padding: 0 15px;
  display: inline-block;
  box-sizing: border-box;
}

.cd-input::-webkit-input-placeholder {
  color: #9b9b9b;
}

.cd-input:-moz-placeholder {
  /* Firefox 18- */
  color: #9b9b9b;
}

.cd-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b9b9b;
}

.cd-input:-ms-input-placeholder {
  color: #9b9b9b;
}

.cd-input:focus {
  border: solid 1px #eaedf0;
  outline: 0;
}

.cd-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.cd-input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}

.cd-input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}

.cd-input:focus:-ms-input-placeholder {
  color: transparent;
}

.cd-input:disabled {
  background-color: #FAFBFC;
}

.cd-input--ib {
  width: auto;
}

.cd-input--icon-left {
  padding-left: 45px;
}

.cd-input--icon-right {
  padding-right: 45px;
}

.cd-field {
  position: relative;
}

.cd-field--icon-left .cd-input {
  padding-left: 45px;
}

.cd-field--icon-left .cd-field__icon {
  left: 15px;
}

.cd-field__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  color: #9B9B9B;
  font-size: 18px;
}

.cd-fields {
  display: flex;
  justify-content: stretch;
}

.cd-fields__field {
  position: relative;
  width: 100%;
}

.cd-fields__field--icon-right .cd-fields__fieldicon {
  right: 15px;
}

.cd-fields__field:last-child .cd-fields__input {
  border-right: 1px solid #eaedf0;
  border-radius: 0 3px 3px 0;
}

.cd-fields__field:last-child:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  top: 10px;
  width: 1px;
  background-color: black;
  background-color: #cccccc;
}

.cd-fields__field:first-child .cd-fields__input {
  border-left: 1px solid #eaedf0;
  border-radius: 3px 0 0 3px;
}

.cd-fields__fieldicon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  color: #cccccc;
  font-size: 16px;
}

.cd-fields__input {
  box-sizing: border-box;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.cd-fields__input:focus {
  outline: 0;
  border-left: 0;
  border-right: 0;
}

.cd-textarea {
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  padding: 15px;
  height: 110px;
  resize: none;
  color: #262626;
  font-size: 14px;
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
}

.cd-textarea::-webkit-input-placeholder {
  color: #9b9b9b;
}

.cd-textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #9b9b9b;
}

.cd-textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b9b9b;
}

.cd-textarea:-ms-input-placeholder {
  color: #9b9b9b;
}

.cd-textarea:focus {
  border: solid 1px #eaedf0;
  outline: 0;
}

.cd-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.cd-textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}

.cd-textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}

.cd-textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.cd-btn-group {
  font-size: 0;
}

.cd-btn-group__btn {
  border-radius: 0;
  border-right-width: 0;
}

.cd-btn-group__btn:first-child {
  border-radius: 3px 0 0 3px;
}

.cd-btn-group__btn:last-child {
  border-radius: 0px 3px 3px 0;
  border-right-width: 1px;
}

.cd-radio-group {
  font-size: 0;
}

.cd-radio-group__input {
  display: none;
}

.cd-radio-group__input:checked + label {
  background-color: #1edae4;
  color: #FFF;
}

.cd-radio-group__inputwrapper {
  display: inline-block;
}

.cd-radio-group__inputwrapper:first-child .cd-radio-group__label {
  border-left: 1px solid #19c6cf;
  border-radius: 5px 0 0 5px;
}

.cd-radio-group__inputwrapper:last-child .cd-radio-group__label {
  border-radius: 0 5px 5px 0;
}

.cd-radio-group__label {
  border-radius: 0;
  border-left: 0;
}

.cd-radio-group__label:hover {
  background-color: transparent;
  color: #19c6cf;
}

.cd-checkbox {
  position: relative;
  padding: 0;
  margin: 0;
}

.cd-checkbox--black .cd-checkbox__label {
  color: #31373d;
}

.cd-checkbox__label {
  color: #98a4b3;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  padding-left: 26px;
  line-height: normal;
}

.cd-checkbox__label:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px #eaedf0;
  left: 0;
  top: 0;
  position: absolute;
}

.cd-checkbox__label:after {
  content: "\f12c";
  position: absolute;
  color: #19c6cf;
  font-size: 16px;
  font-family: "Material Design Icons";
  left: 0;
  top: 0;
  display: none;
}

.cd-checkbox__input {
  display: none;
}

.cd-checkbox__input:checked + .cd-checkbox__label {
  color: #31373d;
}

.cd-checkbox__input:checked + .cd-checkbox__label:before {
  border-color: #98a4b3;
}

.cd-checkbox__input:checked + .cd-checkbox__label:after {
  display: inline-block;
}

.dropdown-menu.dropdown-menu {
  background: transparent;
  border: 0;
  padding-bottom: 0;
  box-shadow: none;
  border-radius: 0;
  float: none;
}

.cd-level {
  height: 2px;
  border-radius: 3px;
  background-color: #e6e6e6;
  overflow: hidden;
}

.cd-level__level {
  height: 2px;
}

.cd-red {
  color: #ef5350;
}

.cd-card-fields {
  color: #31373d;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cd-card-fields .cd-input.cd-input--ib {
  width: 60px;
}

.cd-card-fields .cd-form-field__content {
  width: 50%;
  max-width: 50%;
  flex-grow: 0;
}

.cd-card-fields__cvc {
  margin-left: 20px;
}

.cd-card-fields__slash {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

body .cd-page {
  line-height: initial;
}

.cd-page {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  background: #F0F0F0;
}

@media (max-width: 1200px) {
  .cd-page--nav-opened .cd-page__container:before {
    display: block;
  }
}

.cd-page--nav-opened .cd-page__sidebar {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.cd-page__content {
  overflow-y: auto;
  flex-grow: 1;
  position: relative;
}

.cd-page__sidebar {
  flex-basis: 230px;
  min-width: 230px;
  background-color: #283f55;
  height: 100%;
  align-self: stretch;
  height: 100%;
  z-index: 10;
}

@media (max-width: 1200px) {
  .cd-page__sidebar {
    transition: all .3s ease;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    height: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.cd-page__container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .cd-page__container {
    padding: 15px;
    padding-top: 80px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .cd-page__container {
    padding-top: 90px;
  }
  .cd-page__container:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49, 55, 61, 0.92);
    position: fixed;
    z-index: 9;
    display: none;
  }
}

.cd-content {
  flex-grow: 1;
  padding-right: 40px;
}

@media (max-width: 768px) {
  .cd-content {
    padding-right: 0;
  }
}

.cd-content--no-sidebar {
  padding-right: 0;
}

/*!
 * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.4/customize/)
 */
/*!
 * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #777777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.clearfix:before,
.clearfix:after,
.nav:before,
.nav:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.clearfix:after,
.nav:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.cd-chart .recharts-legend-item-text {
  color: #31373d;
  font-size: 14px;
  line-height: 2;
}

.cd-chart .recharts-legend-item .recharts-symbols {
  stroke: #464646;
  stroke-width: 1;
}

.cd-logo {
  display: inline-block;
  color: #FFF;
  font-size: 24px;
}

.cd-logo:hover, .cd-logo:active {
  color: #FFF;
}

@media (max-width: 1200px) {
  .cd-logo {
    padding: 17px 20px;
    background-image: linear-gradient(192deg, #36e5e9, #19c6cf);
  }
  .cd-logo svg {
    width: 26px;
    height: auto;
  }
}

.cd-logo--mobile {
  display: none;
  border: 0;
  outline: 0;
}

@media (max-width: 1200px) {
  .cd-logo--mobile {
    display: inline-block;
  }
}

.cd-logo svg {
  fill: #ffffff;
}

.cd-logo__wrapper {
  padding-top: 48px;
  padding-bottom: 44px;
  text-align: center;
}

@media (max-width: 1200px) {
  .cd-logo__wrapper {
    display: none;
  }
  .cd-logo__wrapper--mobile {
    padding: 0;
    display: block;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .cd-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
}

.cd-nav__bottommenu {
  display: none;
}

@media (max-width: 768px) {
  .cd-nav__bottommenu {
    display: block;
  }
}

.cd-menu {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
}

.cd-menu__link {
  color: #aaf1f2;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 21px;
  display: block;
  transition: all .3s ease;
  position: relative;
}

.cd-menu__link--active, .cd-menu__link:hover, .cd-menu__link:active {
  background-color: rgba(0, 0, 0, 0.05);
  color: #ffffff;
  text-decoration: none;
}

.cd-menu__link--back {
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.cd-menu__icon {
  font-size: 16px;
  margin-right: 21px;
  display: inline-block;
  vertical-align: middle;
}

.cd-notifications {
  position: relative;
}

@media (max-width: 768px) {
  .cd-notifications {
    position: static;
  }
}

.cd-notifications--empty .cd-notifications__icon {
  color: #9B9B9B;
}

.cd-notifications--empty .cd-notifications__icon:hover {
  color: #FFF;
}

.cd-notifications__empty {
  text-align: center;
  padding: 32px 15px 41px 15px;
}

.cd-notifications__emptytext {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: #31373d;
}

.cd-notifications__button {
  background-color: transparent;
  border: 0;
  outline: 0;
  position: relative;
}

.cd-notifications__button:hover {
  cursor: pointer;
}

.cd-notifications__icon {
  font-size: 22px;
  color: #FFF;
  width: 18px;
  height: 21px;
  display: inline-block;
}

.cd-notifications__number {
  position: absolute;
  left: 50%;
  top: -5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  color: #FFF;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ef5350;
}

.cd-notifications__wrapper {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate3d(-72%, 0, 0);
          transform: translate3d(-72%, 0, 0);
  padding-top: 21px;
  display: none;
  z-index: 100;
}

.cd-notifications__wrapper.open {
  display: block;
}

@media (max-width: 768px) {
  .cd-notifications__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    -webkit-transform: none;
            transform: none;
  }
}

.cd-notifications__content {
  background: #FFF;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 20px 50px 0 rgba(1, 12, 23, 0.1);
}

@media (max-width: 768px) {
  .cd-notifications__content {
    width: 100%;
  }
}

.cd-notifications__header {
  border-bottom: solid 1px #e6e6e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cd-notifications__heading {
  color: #262626;
  font-size: 16px;
  font-weight: 300;
}

.cd-notifications__hnumber {
  color: #ef5350;
  font-weight: 500;
  font-size: 14px;
  margin-left: 7px;
  display: inline-block;
}

.cd-notifications__mark {
  font-weight: normal;
}

.cd-notifications__list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
}

.cd-notifications__more {
  text-align: center;
  padding-top: 13px;
  padding-bottom: 16px;
}

.cd-notification__wrapper {
  padding: 20px;
  border-bottom: solid 1px #f2f2f2;
  padding-left: 29px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  position: relative;
  background-color: #FFF;
  transition: background-color .3s ease;
}

.cd-notification__wrapper:hover {
  background-color: #f0fcfc;
}

.cd-notification__wrapper:before {
  content: "";
  font-family: "Material Design Icons";
  font-size: 16px;
  position: absolute;
  top: 23px;
  left: 20px;
  display: inline-block;
  color: #19c6cf;
}

.cd-notification--call .cd-notification__wrapper:before {
  content: "\F3F2";
}

.cd-notification--score .cd-notification__wrapper:before {
  content: "\F4C5";
}

.cd-notification__text {
  margin: 0;
  color: #262626;
  line-height: 1.5;
  font-size: 14px;
}

.cd-notification__link {
  line-height: 1.5;
  color: #19c6cf;
}

.cd-notification__date {
  color: #9b9b9b;
  font-size: 14px;
}

.cd-overview__block {
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
  background: #FFF;
}

.cd-overview__block--grey {
  background-color: #f7f7f7;
}

.cd-overview__filterscol {
  width: 33.3333333%;
  padding: 0 8px;
}

.cd-overview__filterscol:first-child {
  padding-left: 0;
}

.cd-overview__filterscol:last-child {
  padding-right: 0;
}

.cd-overview__filterscol .cd-input {
  width: 100%;
}

.cd-overview__radiogroup {
  width: 100%;
}

.cd-overview__radiogroup .cd-radio-group__inputwrapper {
  width: 33%;
}

.cd-overview__radiogroup .cd-radio-group__label {
  width: 100%;
}

.cd-overview__graph {
  height: 387px;
  margin-top: 20px;
}

.cd-overview__container {
  display: flex;
  justify-content: stretch;
  padding-top: 30px;
}

.cd-overview__content {
  padding-right: 30px;
  width: 68.59504132231405%;
}

.cd-overview__sidebar {
  width: 31.40495867768595%;
}

.cd-overview__linkblock {
  padding: 13px 20px;
}

.cd-overview__link {
  font-size: 16px;
}

.cd-overview__linkicon {
  font-size: 18px;
}

.cd-overview__info {
  padding: 0;
}

.cd-overview__info .cd-info {
  padding: 0;
}

.cd-overview__info .cd-info__col {
  padding-top: 0;
  padding-bottom: 0;
}

.cd-overview__info .cd-info__item {
  background: #FFF;
}

.cd-overview__info .cd-info__item:before {
  display: none;
}

.cd-overview__info .cd-info__itemnumber {
  margin-left: 6px;
}

.cd-overview__all {
  padding: 12px 19px 20px 19px;
}

.cd-overview__heading {
  color: #262626;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0 11px 19px;
  margin: 0;
}

.cd-overview__bookings {
  margin-top: 30px;
}

.cd-overview-table {
  width: 100%;
}

.cd-overview-table thead tr th {
  color: #9b9b9b;
  font-size: 12px;
  padding: 11px 19px;
  font-weight: normal;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}

.cd-overview-table tr td {
  padding: 20px 19px;
  border-bottom: 1px solid #f2f2f2;
}

.cd-overview-table tr td:first-child {
  width: 60px;
}

.cd-overview-table tr td:last-child {
  width: 60px;
}

.cd-overview-table--bookings tr td:first-child {
  font-weight: 500;
}

.cd-overview-table--cancelled-bookings tr td:first-child {
  color: #ef5350;
  font-weight: 500;
}

.cd-overview-table--popular-services tr th:last-child {
  text-align: right;
}

.cd-overview-table--popular-services tr td:last-child {
  text-align: right;
  width: auto;
}

.cd-overview-table--popular-services tr td:first-child {
  width: auto;
}

.cd-overview-table--sidebar tr td {
  padding: 10px 19px;
}

.cd-overview-table--staff-members tr th:last-child {
  text-align: right;
}

.cd-overview-table--staff-members tr td:last-child {
  text-align: right;
  width: 100px;
}

.cd-overview-table--staff-members tr td:first-child {
  width: auto;
}

.cd-overview-table__grey {
  color: #9b9b9b;
  font-size: 14px;
  margin-right: 15px;
}

.cd-overview-no {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 47px;
}

.cd-overview-no__icon {
  margin-bottom: 15px;
}

.cd-overview-no__text {
  margin: 0;
  color: #cccccc;
  font-size: 14px;
}

.cd-top {
  background-color: #31373d;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .cd-top {
    justify-content: flex-end;
    padding: 16px 30px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

.cd-top__logo {
  position: absolute;
  left: 0;
  top: 0;
}

.cd-top__breadcrumb {
  color: #fff;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .cd-top__breadcrumb {
    display: none;
  }
}

.cd-top__items {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
}

.cd-top__item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  border-left: 1px solid #595959;
}

.cd-top__item:first-child {
  border-left: 0;
}

@media (max-width: 1200px) {
  .cd-top__item {
    display: none;
    padding: 0 24px;
  }
  .cd-top__item--user-menu, .cd-top__item--notifications {
    display: inline-block;
  }
  .cd-top__item--user-menu {
    padding-right: 0;
  }
  .cd-top__item--notifications {
    border-left: 0;
    padding-left: 0;
    padding-right: 13px;
  }
}

.cd-top__name {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}

.cd-top__linkicon {
  font-size: 16px;
  margin-right: 6px;
  width: 16px;
  height: 18px;
}

.cd-user-menu {
  position: relative;
}

.cd-user-menu__button {
  display: inline-block;
  font-size: 0;
  background: transparent;
  border: 0;
  outline: 0;
}

.cd-user-menu__button:before {
  content: "\F493";
  color: #9b9b9b;
  display: inline-block;
  font-size: 24px;
  font-family: "Material Design Icons";
  transition: all .3s ease;
  width: 24px;
  height: 26px;
}

.cd-user-menu__button:hover:before {
  color: #fff;
}

.cd-user-menu__wrapper {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate3d(-89%, 0, 0);
          transform: translate3d(-89%, 0, 0);
  padding-top: 21px;
  display: none;
  z-index: 100;
}

.cd-user-menu__wrapper.open {
  display: block;
}

@media (max-width: 768px) {
  .cd-user-menu__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    -webkit-transform: none;
            transform: none;
  }
}

.cd-user-menu__content {
  background: #FFF;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 20px 50px 0 rgba(1, 12, 23, 0.1);
}

@media (max-width: 768px) {
  .cd-user-menu__content {
    width: 100%;
  }
}

.cd-user-menu__header {
  border-bottom: solid 1px #e6e6e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cd-user-menu__heading {
  color: #262626;
  font-size: 16px;
  font-weight: 300;
}

.cd-user-menu__items {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
  padding: 20px;
  padding-top: 0;
  border-bottom: solid 1px #f2f2f2;
}

.cd-user-menu__items:last-child {
  border-bottom: 0;
}

.cd-user-menu__item {
  margin-top: 20px;
}

.cd-user-menu__link {
  color: #1f263b;
  font-size: 14px;
  transition: color .3s ease;
}

.cd-user-menu__link:hover, .cd-user-menu__link:active {
  color: #19C6CF;
  text-decoration: none;
}

.cd-user-menu__link:hover .cd-user-menu__icon, .cd-user-menu__link:active .cd-user-menu__icon {
  color: #19C6CF;
}

.cd-user-menu__icon {
  transition: color .3s ease;
  color: #b5b5b5;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
}
